<?xml version="1.0"?>
<launch>
    <arg name="bag_path" default="/media/pku-m/BluePassport/201_Data/GuiLin201712/garage_hongling_round/garage_hongling_round2/LiDAR_CAM_INS_2017-12-13-10-24-13_2.bag"/>
    <arg name="rate" default=""/>

    <!-- set a /global_example parameter -->
    <param name="file_prefix" value="$(arg bag_path)"/>

    <!-- play rosbag -->
	<node name="LiDAR_data_replay" pkg="rosbag" type="play" output="screen"
				args="$(arg bag_path) --clock $(arg rate) ">
	<!--<remap from="/velodyne_top_driver/velodyne_packets" to="/velodyne_packets"/>-->
	</node>

    <!-- parse data -->
    <node pkg="rosbag_parser" name="video_saver" type="video_saver.py" output="screen" />
    <node pkg="rosbag_parser" name="velodyne_packets_saver" type="velodyne_packets_saver.py" output="screen" />
    <node pkg="rosbag_parser" name="gps_saver" type="gps_saver.py" output="screen" />

</launch>
